DataBase_HomeWorks/XML_Intro/HomeWork/students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="facultyNumber" />
              <xs:element name="name" />
              <xs:element name="sex" />
              <xs:element name="birthdate" />
              <xs:element name="phone" />
              <xs:element name="email" />
              <xs:element name="course" />
              <xs:element name="speciality" />
              <xs:element name="enrollment" />
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="date" />
                    <xs:element name="examScore" />
                  </xs:sequence>
                </xs:complexType>
              <xs:element name="exams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="exam">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" />
                          <xs:element name="tutor" />
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="endorsements" />
                              </xs:sequence>
                            </xs:complexType>
                          <xs:element name="score" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>